*,
*:before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}
/* globals */

.container{
    max-width: 1300px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

/* helpers */

.flex{
    display: flex;
}

.space-around{
    justify-content: space-around;
}

.column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-content-c{
    justify-content: center;
}

.justify-content-r{
    justify-content: right;
}

.flex-start {
    justify-content: flex-start
}

.column {
    flex-direction: column;
}