*,
*:before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* helpers */

.flex{
    display: flex;
}

.space-around{
    justify-content: space-around;
}

.column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}